header {
  position: relative;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

header h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 70px;
}

h2{
  background-color: #82cbffd4;
}

p, li{
 font-size: 17px; 
}

h3{
  font-size: 20px;
  background-color: rgb(214, 236, 255);
}
