.upload-form {
    display: flex;
    flex-wrap: wrap; 
    max-width: 1000px;
    margin: 1.25rem auto;
    padding: 1.25rem; 
    background-color: #e3eceb; 
    border: 5px solid #e3eceb;
    border-radius: 0.5rem; 
    box-shadow: 5px 5px lightgray; 
}

.form-group {
    margin-bottom: 15px; 
}

label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
    color: #34547c; 
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #b4d4d4; 
    border-radius: 4px; 
    font-size: 1rem;
}

input[type="submit"] {
    background-color: #b4d4d4; 
    color: #34547c; 
    padding: 5px 5px; 
    border: none; 
    border-radius: 5px; 
    font-size: 1.2rem; 
}

input[type="submit"]:hover {
    background-color: #34547c; 
    color: #b4d4d4;
}


.form-group-left, .form-group-right {
    flex-basis: 48%; 
    max-width: 48%;
}

