* {
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 32px;
    background-color: #b4d4d4;
}

.app-name, .app-name:hover {
    color: #292b2c;
    text-decoration: none;
}

.nav {
    display: none;
}

.nav-item a, #signin{
    font-size: 1.2rem;
}

.nameAndDes {
    flex-grow: 3;
}

ul, li {
    flex-grow: 1;
}

.search-bar {
    border: 2px solid gray;
    margin: 2rem auto;
    text-align: center;
    text-decoration: none;
    width: 40vw;
    font-size: 1.5rem;
}

.clear-filter, .toggle-btn {
    background: none;
    border: 2px solid #292b2c;
    border-radius: 10px;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .25rem;
}

.clear-filter {
    background-color: #34547c;
    color: white;
}

.introduction p, .introduction a{
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
}

.introduction{
    display:flex;
    background-color: #34547c;
}

.introduction img{
    width: 50%;
    object-fit: cover;
}

.introduction article{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.introduction h1{
    margin-bottom: 30px;
    margin-top: 20px;
}


footer p{
    background-color: #b4d4d4;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .nav {
        display: flex;
    }
}

.number-input {
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: 1rem;
}

.state-select, .pass-select{
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: 1rem;
}

.advanced-search-active{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 0;
    padding-bottom: 1rem;
    top: -100%;
    transition: .4s;
}

@media (min-width: 768px) {
    .advanced-search-active {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 992px) {
    .advanced-search-active {
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
    }
}
 /* compare */
.compare-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.resort-compare {
    border-radius: 8px;
    padding: 20px;
    width: 300px; 
    text-align: center;
}

.search {
    margin-bottom: 20px;
}

.resort-card {
    text-align: center;
}

.resort-image {
    width: 100%;
    height: auto;
    display: block;
}

.resort-info {
    padding: 15px;
    text-align: center;
}

.resort-info h2 {
    color: #007bff;
    margin-bottom: 15px;
}

.resort-details {
    margin-top: 10px;
}

.search-button:hover {
    background-color: #0056b3;
}

 /* upload */


 .photo-upload-container {
    height: 100%; 
    display: flex;
    flex-direction: column; 
}

.photo-upload {
    flex-grow: 1; 
}