
* {
    box-sizing: border-box;
}

 /* Header */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #b4d4d4;
  }
  
  .nameAndDes {
    text-align: center;
    flex-grow: 2;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: row; 
  }
  
  .nav-item {
    margin: 0 10px;
    flex-grow: 1;
  }
  
  .nav-item a, #signin {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000;
  }
  
  .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }
  
  .nav-item a:hover {
    color: #0a58ca;
  }
  
  .app-name, .app-name:hover {
    color: #292b2c;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .nav {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .nav.open {
      display: flex;
    }
  
    .nav-item {
      margin: 10px 0;
    }
  }


.app-name, .app-name:hover {
    color: #292b2c;
    text-decoration: none;
}







.search-bar {
    border: 2px solid gray;
    margin: 2rem auto;
    text-align: center;
    text-decoration: none;
    width: 40vw;
    font-size: 1.5rem;
}

.clear-filter, .toggle-btn {
    background: none;
    border: 2px solid #292b2c;
    border-radius: 10px;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .25rem;
}

.clear-filter {
    background-color: #34547c;
    color: white;
}

.introduction p, .introduction a{
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
}

.introduction{
    display:flex;
    background-color: #34547c;
}

.introduction img{
    width: 50%;
    object-fit: cover;
}

.card-img-top {
    object-fit: cover;
    height:290px;
}

.introduction article{
    flex: auto;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.introduction h1{
    margin-bottom: 30px;
    margin-top: 20px;
}


footer p{
    background-color: #b4d4d4;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .nav {
        display: flex;
    }
}

.number-input {
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: 1rem;
}

.state-select, .pass-select{
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: 1rem;
}

.advanced-search-active{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 0;
    padding-bottom: 1rem;
    top: -100%;
    transition: .4s;
}

@media (min-width: 768px) {
    .advanced-search-active {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 992px) {
    .advanced-search-active {
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
    }
}

.nav-link:focus, .nav-link:hover {
    color: #0a58ca;
}

.nav-link {
    color: white;
}


/* compare */
.compare-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.search-container {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    text-align: center;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
}

.search-button:hover {
    background-color: #0056b3;
    color: white;
}

.resort-card {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    text-align: center;
    background: #e3eceb;
}

.resort-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    display: block;
}

.resort-info {
    padding: 15px;
    text-align: left;
}

.resort-info h2 {
    color: #34547c;
    margin-bottom: 15px;
    text-align: center;
}

.resort-details {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .compare-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        margin-bottom: 0;
        text-align: center;
    }

    .search-input, .search-button {
        width: 100%;
        max-width: 200px;
        font-size: 18px;
    }

    .search-button {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .resort-card {
        max-width: 500px;
        margin: 10px;
    }

    .resort-image {
        max-width: 500px;
        height: auto;
    }

    .resort-info h2 {
        font-size: 24px;
    }

    .resort-info p {
        font-size: 18px;
    }
}

 

/* upload */

 .container{
    max-width: 100%;
    height: 100%;
 }

 .container.form-content {
    background-color: #34547c; 
    color: #b4d4d4;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
 }
 
 .upload-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .upload-container-wrapper {
    padding: 20px;
  }
  
  .upload-form-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .upload-form-content h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .upload-form-label {
    font-weight: bold;
  }
  
  .mb-4, .mb-3 {
    margin-bottom: 1.5rem;
  }
  
  .d-grid {
    display: grid;
  }
  
  .gap-2 {
    gap: 0.5rem;
  }
  
  .alert {
    margin-top: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
