* {
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 32px;
    background-color: #b4d4d4;
}

.nav-item a, #signin{
    font-size: 1.2rem;
}

div {
    flex-grow: 2;
}

ul, li {
    flex-grow: 1;
}

.search-bar {
    border: 2px solid gray;
    margin: 2rem auto;
    text-align: center;
    text-decoration: none;
    width: 40vw;
    font-size: 1.5rem;
}



