* {
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 32px;
    background-color: #b4d4d4;
}

.app-name, .app-name:hover {
    color: #292b2c;
    text-decoration: none;
}

.nav {
    display: none;
}

.nav-item a, #signin{
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease
}

.nav-item a:hover {
    color:#0a58ca;;
}

.nameAndDes {
    flex-grow: 2;
}

ul, li {
    flex-grow: 1;
}

.search-bar {
    border: 2px solid gray;
    margin: 2rem auto;
    text-align: center;
    text-decoration: none;
    width: 40vw;
    font-size: 1.5rem;
}

.clear-filter, .toggle-btn {
    background: none;
    border: 2px solid #292b2c;
    border-radius: 10px;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .25rem;
}

.clear-filter {
    background-color: #34547c;
    color: white;
}

.introduction p, .introduction a{
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
}

.introduction{
    display:flex;
    background-color: #34547c;
}

.introduction img{
    width: 50%;
    object-fit: cover;
}

.card-img-top {
    object-fit: cover;
    height:290px;
}

.introduction article{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.introduction h1{
    margin-bottom: 30px;
    margin-top: 20px;
}


footer p{
    background-color: #b4d4d4;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .nav {
        display: flex;
    }
}

.number-input {
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: 1rem;
}

.state-select, .pass-select{
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: 1rem;
}

.advanced-search-active{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 0;
    padding-bottom: 1rem;
    top: -100%;
    transition: .4s;
}

@media (min-width: 768px) {
    .advanced-search-active {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 992px) {
    .advanced-search-active {
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
    }
}

.nav-link:focus, .nav-link:hover {
    color: #0a58ca;
}

.nav-link {
    color: white;
}


/* compare */
.compare-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.resort-compare {
    border-radius: 8px;
    padding: 20px;
    width: 300px; 
    text-align: center;
}

.search {
    margin-bottom: 20px;
}

.resort-card {
    text-align: center;
    margin: 0 10px;
    background:#e3eceb;
}

.resort-image {
    width: 500px;
    height: 300px;
    object-fit: cover;
    display: block;
}

.resort-info {
    padding: 15px;
    text-align: left;
}

.resort-info h2 {
    color: #34547c;
    margin-bottom: 15px;
    text-align: center;
}

.resort-details {
    margin-top: 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 100px;
}

.search-input {
    margin-bottom: 10px;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
}

.search-button:hover {
    background-color: #0056b3;
    color: white;
}


 /* upload */

 .container{
    max-width: 100%;
    height: 100%;
 }

 .container.form-content {
    background-color: #34547c; 
    color: #b4d4d4;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
 }
